In [ ]:


# SOLVED EXAMPLE
# --------------
# Question: Check if a number is both even and greater than 10
print("SOLVED EXAMPLE:")
print("Check if a number is both even and greater than 10")
number = 16
is_even = number % 2 == 0
is_greater_than_10 = number > 10
result = is_even and is_greater_than_10
print(f"Number: {number}")
print(f"Is even: {is_even}")
print(f"Is greater than 10: {is_greater_than_10}")
print(f"Both conditions: {result}")
print("-" * 50)

SOLVED EXAMPLE:
Check if a number is both even and greater than 10
Number: 16
Is even: True
Is greater than 10: True
Both conditions: True
--------------------------------------------------

In [ ]:
# ASSIGNMENT QUESTIONS
# =================

In [ ]:
# Question 1: Check if 25 is greater than 20 and less than 30
print("Question 1: Check if 25 is greater than 20 and less than 30")
# Your code here
num=25
if num>20 and num<30:
  print("true")
else:
  print("false")

Question 1: Check if 25 is greater than 20 and less than 30
true

In [ ]:
# Question 2: Check if string "python" is equal to "Python" (case sensitive)
print("\nQuestion 2: Check if string 'python' is equal to 'Python' (case sensitive)")

# Check equality (case-sensitive)
result = "python" == "Python"

# Print the result
print("Is 'python' equal to 'Python'?", result)

Question 2: Check if string 'python' is equal to 'Python' (case sensitive)
Is 'python' equal to 'Python'? False

In [ ]:
# Question 3: Check if 15 is divisible by both 3 and 5
print("\nQuestion 3: Check if 15 is divisible by both 3 and 5")
# Check divisibility
result = 15 % 3 == 0 and 15 % 5 == 0

# Print the result
print("Is 15 divisible by both 3 and 5?", result)

Question 3: Check if 15 is divisible by both 3 and 5
Is 15 divisible by both 3 and 5? True

In [ ]:
# Question 4: Check if 7 is not equal to 8
print("\nQuestion 4: Check if 7 is not equal to 8")

# Check inequality
result = 7 != 8

# Print the result
print("Is 7 not equal to 8?", result)

Question 4: Check if 7 is not equal to 8
Is 7 not equal to 8? True

In [ ]:

# Question 5: Check if 100 is greater than 50 or less than 25
print("\nQuestion 5: Check if 100 is greater than 50 or less than 25")

# Check condition
result = 100 > 50 or 100 < 25

# Print the result
print("Is 100 > 50 or < 25?", result)

Question 5: Check if 100 is greater than 50 or less than 25
Is 100 > 50 or < 25? True

In [ ]:


# Question 6: Check if 0 is falsy in Python
print("\nQuestion 6: Check if 0 is falsy in Python")

# Check if 0 is falsy
result = not bool(0)

# Print the result
print("Is 0 falsy in Python?", result)

Question 6: Check if 0 is falsy in Python
Is 0 falsy in Python? True

In [ ]:
# Question 7: Check if empty string "" is falsy in Python
print("\nQuestion 7: Check if empty string '' is falsy in Python")

# Check if empty string is falsy
result = not bool("")

# Print the result
print("Is empty string '' falsy in Python?", result)

Question 7: Check if empty string '' is falsy in Python

Question 7: Check if empty string '' is falsy in Python
Is empty string '' falsy in Python? True

In [ ]:
# Question 8: Check if 42 is truthy in Python
print("\nQuestion 8: Check if 42 is truthy in Python")

# Check if 42 is truthy
result = bool(42)

# Print the result
print("Is 42 truthy in Python?", result)

Question 8: Check if 42 is truthy in Python
Is 42 truthy in Python? True

In [ ]:
# Question 9: Check if 10 is between 5 and 15 (inclusive)
print("\nQuestion 9: Check if 10 is between 5 and 15 (inclusive)")

# Check the condition
result = 5 <= 10 <= 15

# Print the result
print("Is 10 between 5 and 15 (inclusive)?", result)

Question 9: Check if 10 is between 5 and 15 (inclusive)
Is 10 between 5 and 15 (inclusive)? True

In [ ]:
# Question 10: Check if 3.14 is greater than 3 and less than 4
print("\nQuestion 10: Check if 3.14 is greater than 3 and less than 4")

# Check the condition
result = 5 <= 10 <= 15

# Print the result
print("Is 10 between 5 and 15 (inclusive)?", result)

Question 10: Check if 3.14 is greater than 3 and less than 4
Is 10 between 5 and 15 (inclusive)? True