In [1]:
print("\nQuestion 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)")

# Given tuple
numbers = (15, 23, 31, 42, 56, 78)

# Calculate average
average = sum(numbers) / len(numbers)

# Print the result
print("Average:", average)

Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
Average: 40.833333333333336

In [2]:
# Question 1: Create a set of first 10 natural numbers
print("Question 1: Create a set of first 10 natural numbers")
# Your code here

# Creating the set
natural_numbers = set(range(1, 11))

# Printing the set
print(natural_numbers)

Question 1: Create a set of first 10 natural numbers
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
# Question 2: Add element 11 to set {1, 2, 3, 4, 5}
print("\nQuestion 2: Add element 11 to set {1, 2, 3, 4, 5}")
# Your code here

# Given set
s = {1, 2, 3, 4, 5}

# Adding element 11
s.add(11)

# Printing the updated set
print(s)

Question 2: Add element 11 to set {1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 11}

In [4]:
# Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}
print("\nQuestion 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}")
# Your code here

# Given set
s = {1, 2, 3, 4, 5, 6}

# Removing element 3
s.remove(3)

# Printing the updated set
print(s)

Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

In [5]:
# Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
print("\nQuestion 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
# Your code here

# Given sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Finding the intersection
intersection = set1.intersection(set2)

# Printing the result
print(intersection)

Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
{4, 5}

In [6]:
# Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
print("\nQuestion 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
# Your code here

# Given sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Finding the difference
difference = set1.difference(set2)

# Printing the result
print(difference)

Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
{1, 2, 3}

In [7]:
# Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
print("\nQuestion 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}")

# Given set
s = {1, 2, 3, 4, 6, 7, 8}

# Check if 5 is in the set
is_five_in_set = 5 in s

# Print the result
print(is_five_in_set)

Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
False

In [8]:
# Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}
print("\nQuestion 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}")
# Your code hereprint("\nQuestion 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}")

# Given set
s = {'a', 'b', 'c', 'd', 'e'}

# Finding the length
length = len(s)

# Printing the result
print("Length of the set:", length)

Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}
Length of the set: 5

In [9]:
# Question 8: Create a set of vowels from string "hello world"
print("\nQuestion 8: Create a set of vowels from string 'hello world'")

# Given string
text = "hello world"

# Set of vowels
vowels = {'a', 'e', 'i', 'o', 'u'}

# Creating set of vowels found in the string
vowels_in_text = set(char for char in text if char in vowels)

# Printing the result
print("Vowels in the string:", vowels_in_text)

Question 8: Create a set of vowels from string 'hello world'
Vowels in the string: {'o', 'e'}

In [10]:
# Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set
print("\nQuestion 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set")

# Given list with duplicates
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

# Removing duplicates using set
unique_numbers = set(numbers)

# Printing the result
print("Unique numbers:", unique_numbers)

Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set
Unique numbers: {1, 2, 3, 4, 5, 6, 7}

In [11]:
# Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
print("\nQuestion 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}")

# Define the sets
small_set = {1, 2, 3}
large_set = {1, 2, 3, 4, 5, 6}

# Check if small_set is a subset of large_set
is_subset = small_set.issubset(large_set)

# Print the result
print("Is {1, 2, 3} a subset of {1, 2, 3, 4, 5, 6}?", is_subset)

Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
Is {1, 2, 3} a subset of {1, 2, 3, 4, 5, 6}? True