In [2]:
# Question: Find the sum and product of all elements in a tuple
print("SOLVED EXAMPLE:")
print("Find the sum and product of all elements in a tuple")
numbers = (2, 4, 6, 8, 10)
sum_tuple = sum(numbers)
product = 1
for num in numbers:
    product *= num
print(f"Tuple: {numbers}")
print(f"Sum: {sum_tuple}")
print(f"Product: {product}")
print("-" * 50)

SOLVED EXAMPLE:
Find the sum and product of all elements in a tuple
Tuple: (2, 4, 6, 8, 10)
Sum: 30
Product: 3840
--------------------------------------------------

In [3]:
# Question 1: Create a tuple of first 10 natural numbers
print("Question 1: Create a tuple of first 10 natural numbers")

# Creating the tuple
natural_numbers = tuple(range(1, 11))

# Printing the tuple
print(natural_numbers)

Question 1: Create a tuple of first 10 natural numbers
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("\nQuestion 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)")

# Given tuple
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Finding the length
length = len(t)

# Printing the length
print("Length of the tuple:", length)

Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Length of the tuple: 10

In [5]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
print("\nQuestion 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')")

# Given tuple
t = ('a', 'b', 'c', 'd', 'e')

# Accessing the 3rd element (index 2)
third_element = t[2]

# Printing the 3rd element
print("3rd element:", third_element)

Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
3rd element: c

In [6]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
print("\nQuestion 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)")

# Given tuple
t = (23, 45, 12, 67, 34, 89, 56)

# Finding the maximum value
max_value = max(t)

# Printing the result
print("Maximum value:", max_value)

Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
Maximum value: 89

In [7]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
print("\nQuestion 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)")

# Given tuple
t = (1, 5, 2, 5, 3, 5, 4, 5, 6)

# Counting occurrences of 5
count_5 = t.count(5)

# Printing the result
print("Number of times 5 appears:", count_5)

Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
Number of times 5 appears: 4

In [8]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
print("\nQuestion 6: Create a tuple of mixed data types (integer, float, string, boolean)")

# Creating the tuple
mixed_tuple = (42, 3.14, "hello", True)

# Printing the tuple
print(mixed_tuple)

Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
(42, 3.14, 'hello', True)

In [9]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
print("\nQuestion 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')")

# Given tuple
languages = ('java', 'python', 'c++', 'javascript')

# Finding the index of 'python'
index_python = languages.index('python')

# Printing the result
print("Index of 'python':", index_python)

Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
Index of 'python': 1

In [10]:
# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
print("\nQuestion 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)")

# Given tuple
numbers = (10, 20, 30, 40, 50)

# Check if 25 exists
exists = 25 in numbers

# Print the result
print("Does 25 exist in the tuple?", exists)

Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
Does 25 exist in the tuple? False

In [11]:
# Question 9: Create a tuple of first 5 even numbers
print("\nQuestion 9: Create a tuple of first 5 even numbers")

# Creating the tuple
even_numbers = tuple(range(2, 11, 2))

# Printing the tuple
print(even_numbers)

Question 9: Create a tuple of first 5 even numbers
(2, 4, 6, 8, 10)

In [12]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
print("\nQuestion 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)")

# Given tuple
numbers = (15, 23, 31, 42, 56, 78)

# Calculate average
average = sum(numbers) / len(numbers)

# Print the result
print("Average:", average)

Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
Average: 40.833333333333336